html{
    font-family: 'Montserrat', sans-serif;
}  

*, *:before, *:after{
box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul{
    margin: 0;
    padding: 0;
} 

ol, ul{
    list-style: none;
}

header{
    background-color: #F8F8F8;
    padding: 70px 160px 0px 160px;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
}

nav{
    display: flex;
    flex-direction: row;
}

.nav-bar a{
    margin-left: 2em;
    text-decoration: none;
    color: black;
}

#main{
    font-size: 25px;
    margin-top: 160px; 
    display: flex;
    justify-content: space-between;
}

h2{
    font-weight: 500;
    margin-bottom: 15px;
}

img{
    width: 260px;
    border-radius: 10%;
}

#bio{
    padding-top: 80px;
}

#name{
    font-weight: 600;
}

#bio p{
    color: #696969;
}

.header-footer{
    display: flex;
    justify-content: space-between;
    padding-top: 160px;
    padding-bottom: 80px;
}

.header-footer a{
    margin-right: 1.5em;
}

.contacts img{
    height: 24px;
    width: 24px;
}

main{
    padding-top: 200px;
    padding-left: 160px;
    padding-right: 160px;
    padding-bottom: 150px;
}

.services{
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

.services span{
    font-weight: 600;
    font-size: 44px;
    margin-bottom: 18px;
}

.services p{
    font-size: 14px;
}

.services div{
    padding: 0 60px;
}

h1{
    font-weight: bold;
}

.cont{
    padding-top: 200px;
}
.under-cont{
    margin-top: 70px;   
}
table{
    font-size: 22px;
}
th{
    padding-right: 350px;
    padding-bottom: 50px;
}
